<% if @organization %>
  <h1> Our Interested Students </h1> 
<% else %>
  <h1> All students </h1>
<% end %>

<% @students.each do |student| %>
  <div> 
    <a href="/students/<%= student.id %>" > <%= student.first_name + ' ' + student.last_name %> </a>
    <h5> Email: <%= student.email %></h5> 
    <h5> Phone Number: <%= student.phone_number %> </h5>
  </div>
<% end %>