<% @organizations.each do |organization| %>
  <div> 
    <a href="/organizations/<%= organization.id %>" > <%= organization.name %> </a>
    <h5> Email: <%= organization.email %></h5> 
    <h5> Phone Number: <%= organization.phone_number %> </h5>
  </div>
<% end %>