<h1>Home Page</h1>
<h2>Student</h2>
<a href='student/session'>Login</a>
<a href='student/register'>Register</a>

<h2>Organization</h2>
<a href='organization/session'>Login</a>
<a href='organization/register'>Register</a>
