<h1>Home Page</h1>
<h2>Student</h2>
<a href='student/session'>login</a>
<a href='student/register'>register</a>

<h2>Organization</h2>
<a href='organization/session'>login</a>
<a href='organization/register'>register</a>
